/* Modified from https://github.com/simonwhitaker/github-fork-ribbon-css */
/* Left will inherit from right (so we don't need to duplicate code */
.github-fork-ribbon {
  /* The right and left lasses determine the side we attach our banner to */
  position: absolute;
  /* Add a bit of padding to give some substance outside the "stitching" */
  padding: 2px 0;
  /* Set the base colour */
  background-color: #888;
}

.github-fork-ribbon a {
  /* Set the font */
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: 700;
  color: white;
  /* Set the text properties */
  text-decoration: none;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.5);
  text-align: center;
  /* Set the geometry. If you fiddle with these you'll also need to tweak the top and right values in #github-fork-ribbon. */
  width: 200px;
  line-height: 20px;
  /* Set the layout properties */
  display: inline-block;
  padding: 2px 0;
  pointer-events: all;
}

.github-fork-ribbon-wrapper {
  width: 150px;
  height: 150px;
  position: absolute;
  overflow: hidden;
  top: 0;
  pointer-events: none;
}

.github-fork-ribbon-wrapper.left {
  left: 0;
}

.github-fork-ribbon-wrapper.right {
  right: 0;
}

.github-fork-ribbon-wrapper.right .github-fork-ribbon {
  top: 42px;
  right: -43px;
  /* Rotate the banner 45 degrees */
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: #555555 !important;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
}

footer {
  margin-top: 2em;
  font-size: 0.85em;
}

#fork-me img {
  position: absolute;
  top: 0;
  right: 0;
  border: 0;
}

@media (min-width: 768px), print {
  #column-right {
    border-left: 1px solid #ddd;
  }

  #column-right-inner {
    padding-left: 10px;
  }
}
.page-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

dt {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  color: #555555 !important;
}

dd {
  margin-bottom: 1em;
  margin-left: 10px;
}

#publication-list {
  font-size: 0.85em;
}
#publication-list li {
  line-height: 1.8em;
  margin-bottom: 10px;
}

.entry {
  position: relative;
  padding-left: 120px;
  padding-bottom: 1.5em;
  padding-top: 1em;
}
.entry .duration {
  font-size: 0.85em;
  position: absolute;
  margin-left: -120px;
  margin-top: 0.2em;
}
.entry .title {
  display: inline;
  font-size: 1.3em;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.entry .location {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}
.entry .description {
  color: #555555 !important;
}

body {
  -webkit-print-color-adjust: exact;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  font-size: 10px;
}

a[href]:after {
  content: "";
}

a {
  color: #428bca !important;
}

.col-sm-8 {
  width: 66% !important;
  float: left !important;
}

.col-sm-4 {
  width: 33% !important;
  float: left !important;
}
