@import "share";

body {
  -webkit-print-color-adjust: exact;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  font-size: 10px; // Experimentally verified in Chrome 32.0.1700.68
}

a[href]:after {
  content: "";
}

a {
  color: rgb(66, 139, 202) !important;
}

.col-sm-8 {
  width: 66% !important;
  float: left !important;
}

.col-sm-4 {
  width: 33% !important;
  float: left !important;
}
