$enable-flex: true;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Open Sans', sans-serif;
$font-size-root: 15px;

@import 'bootstrap_custom';

@import 'fa_custom';
@import 'fonts';

body {
  margin-top: 10px;
}

h1 {
  font-weight: 300;
}

h2 {
  font-size: 1.3em;
  font-family: $headings-font-family;
  font-weight: 400;
}

footer {
  margin-top: 2em;
  font-size: $font-size-sm;
}

#fork-me {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

// Don't show vertical line on phones
@include media-breakpoint-up(sm), print {
  #column-right {
    border-left: 1px solid #ddd;
  }
  #column-right-inner {
    padding-left: 10px;
  }
}

.page-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

dt {
  font-family: $headings-font-family;
  font-weight: 400;
}

dd {
  margin-bottom: 1em;
  margin-left: 10px;
}

#publication-list {
  font-size: $font-size-sm;

  li {
    line-height: 1.8em;
    margin-bottom: 10px;
  }
}

.entry {
  $entryPadding: 120px;

  position: relative;
  padding-left: $entryPadding;
  padding-bottom: 1.5em;
  padding-top: 1em;

  .duration {
    font-size: $font-size-sm;
    position: absolute;
    margin-left: -$entryPadding;
    margin-top: 0.2em;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .location {
    font-family: $headings-font-family;
  }

  .labels {
    float: right;
  }

  .label-cpp {
    @include label-variant(#045088);
  }

  .label-ember {
    @include label-variant(#F23818);
  }

  .label-rails {
    @include label-variant(#cc0000);
  }

  .label-go {
    @include label-variant(darken(#90e4e6, 20%));
  }

  .label-mathematica {
    @include label-variant(#f4792f);
  }

  .label-python {
    @include label-variant(darken(#ffe260, 20%));
  }
}

@media print {
  @import 'print';
}
