// $enable-flex: true;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Open Sans', sans-serif;
$font-size-root: 15px;
$line-color: #ddd;

@import 'bootstrap_custom';

@import 'fa_custom';
@import 'fonts';

body {
  margin-top: 2rem;
}

h1 {
  font-weight: 300;
}

h2 {
  font-family: $headings-font-family;
  font-size: 1.3em;
  font-weight: 400;
}

footer {
  font-size: $font-size-sm;
  margin-top: 2em;
}

// Don't show vertical line on phones
@mixin show-line {
  aside {
    border-left: 1px solid $line-color;
  }
}

@include media-breakpoint-up(sm) {
  @include show-line;
}

@media print {
  @include show-line;
}


h1 {
  border-bottom: 1px solid $line-color;
  margin-bottom: 2rem;
  padding-bottom: 1rem;
}

dt {
  font-family: $headings-font-family;
  font-weight: 400;
}

dd {
  margin-bottom: 1em;
  margin-left: 10px;
}

.publication-list {
  font-size: $font-size-sm;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;

  li {
    line-height: 1.8em;
    margin-bottom: 10px;
  }
}

section {
  $duration-width: 7rem;
  $duration-padding: 0.4rem;

  padding-bottom: 1.5em;
  padding-left: $duration-width + $duration-padding;
  padding-top: 1em;
  position: relative;

  .duration {
    font-size: $font-size-sm;
    margin-left: -$duration-width - $duration-padding;
    margin-top: 0.2em;
    padding-right: $duration-padding;
    position: absolute;
    width: $duration-width;
  }

  p {
    margin-bottom: 0.5rem;
  }

  .location {
    font-family: $headings-font-family;
  }

  .labels {
    float: right;
  }

  .label-cpp {
    @include label-variant(#045088);
  }

  .label-ember {
    @include label-variant(#f23818);
  }

  .label-rails {
    @include label-variant(#c00);
  }

  .label-go {
    @include label-variant(darken(#90e4e6, 20%));
  }

  .label-mathematica {
    @include label-variant(#f4792f);
  }

  .label-python {
    @include label-variant(darken(#ffe260, 25%));
  }
}

.hello {
  font-family: $headings-font-family;
  font-size: 1.25rem;
  font-weight: 300;
}

.fa-li {
  // fixes a weird alignment issue
  // TODO improve
  line-height: 1.3;
}

@media print {
  html {
    font-size: 8px;
  }

  body {
    margin-top: 0;
    -webkit-print-color-adjust: exact;
    text-rendering: optimizeLegibility;
  }

  .label {
    border: 0;
  }
}
