$enable-flex: true;

$font-family-sans-serif: 'Source Sans Pro', sans-serif;
$headings-font-family: 'Open Sans', sans-serif;
$font-size-root: 15px;

@import 'bootstrap_custom';

@import 'fa_custom';
@import 'fonts';

$darkGray: #333 !important; // Important because of bootstrap's print.less
$phoneWidth: 768px;

body {
  margin-top: 10px;
}

h1, h2, h3, h4, h5, h6 {
  color: $darkGray;
  font-weight: 300;
}


footer {
  margin-top: 2em;
  font-size: $font-size-sm;
}

#fork-me {
  img {
    position: absolute;
    top: 0;
    right: 0;
    border: 0;
  }
}

// Don't show vertical line on phones
@media (min-width: $phoneWidth), print {
  #column-right {
    border-left: 1px solid #ddd;
  }
  #column-right-inner {
    padding-left: 10px;
  }
}

.page-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 20px;
  margin-bottom: 45px;
}

dt {
  font-family: $headings-font-family;
  font-weight: 400;
  color: $darkGray;
}

dd {
  margin-bottom: 1em;
  margin-left: 10px;
}

#publication-list {
  font-size: $font-size-sm;

  li {
    line-height: 1.8em;
    margin-bottom: 10px;
  }
}

.entry {
  $entryPadding: 120px;

  position: relative;
  padding-left: $entryPadding;
  padding-bottom: 1.5em;
  padding-top: 1em;

  .duration {
    font-size: $font-size-sm;
    position: absolute;
    margin-left: -$entryPadding;
    margin-top: 0.2em;
  }

  .title {
    display: inline;
    font-size: 1.3em;
    font-family: $headings-font-family;
    font-weight: 400;
  }

  .location {
    font-family: $headings-font-family;
    font-weight: 400;
  }

  .description {
    color: $darkGray;
  }
}

@media print {
  @import 'print';
}
