$fa-font-path: 'fonts';

@import "font-awesome/scss/variables";
@import "font-awesome/scss/mixins";

// @import "font-awesome/scss/path";

@font-face {
  font-family: 'FontAwesome';
  src: url('#{$fa-font-path}/fontawesome.woff');
  font-weight: normal;
  font-style: normal;
}


@import "font-awesome/scss/core";
// @import "font-awesome/scss/larger";
// @import "font-awesome/scss/fixed-width";
@import "font-awesome/scss/list";
// @import "font-awesome/scss/bordered-pulled";
// @import "font-awesome/scss/animated";
// @import "font-awesome/scss/rotated-flipped";
// @import "font-awesome/scss/stacked";
@import "font-awesome/scss/icons";
