body {
  -webkit-print-color-adjust: exact;
  text-rendering: optimizeLegibility;
  margin-top: 0;
  font-size: 10px; // Experimentally verified in Chrome 32.0.1700.68
}

a[href]:after {
  content: "";
}

.col-sm-7 {
  width: 58% !important;
  float: left !important;
}

.col-sm-5 {
  width: 41% !important;
  float: left !important;
}
